@inherits ArticleCreateBase
@page "/Article/Create"
@attribute [Authorize(Policy = "Articles-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Article"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <ArticleForm Article="EntityItem" ArticleCatigoryItems="ArticleCatigoryItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Articles/List"))" />
