@inherits ArticleCategoryEditBase
@page "/ArticleCategory/Edit"
@attribute [Authorize(Policy = "articles-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["Article Category"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <ArticleCategoryForm ArticleCategory="EntityItem" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/ArticleCategories/List"))" />
