@inherits PageCreateBase
@page "/Page/Create"
@attribute [Authorize(Policy = "pages-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Event"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <PageForm Page="EntityItem" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Pages/List"))" />

