@inherits NationalityCreateBase
@page "/Nationality/Create"
@attribute [Authorize(Policy = "indexes-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Nationality"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <NationalityForm Nationality="EntityItem" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Nationalities/List"))" />

