@using OA.Domin.DSA.Indexes


<div class="form-group row">
    <div class="col-sm-6">
        <MInputText @bind-Value="Nationality.Name" For="@(() => Nationality.Name)" Id="Name" EntityType="typeof(Nationality)" PropName="Name" Active="@Active" />
    </div>
    <div class="col-sm-6">
        <MInputText @bind-Value="Nationality.EnName" For="@(() => Nationality.EnName)" Id="EnName" EntityType="typeof(Nationality)" PropName="EnName" Active="@Active" />
    </div>
</div>