@inherits JobTypeEditBase
@page "/JobType/Edit/{id}"
@attribute [Authorize(Policy = "indexes-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["JobType"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <JobTypeForm JobType="EntityItem" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/JobTypes/List"))" />
