@using OA.Domin.DSA.Indexes


<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="City.Name" For="@(() => City.Name)" Id="Name" EntityType="typeof(City)" PropName="Name" Active="@Active" />
    </div>
</div>

