@inherits BlockCategoryCreateBase
@page "/BlockCategory/Create"
@attribute [Authorize(Policy = "blocks-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Block Category"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <BlockCategoryForm BlockCategory="EntityItem"  />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/BlockCategories/List"))" />
