@inherits DonationCreateBase
@page "/Donation/Create"
@attribute [Authorize(Policy = "donations-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Donation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <DonationForm Donation="EntityItem" Type="@Type" PersonDonatorItems="PersonDonatorItems" CorporateDonatorItem="CorporateDonatorItems" BeneficaryItems="BeneficiaryItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Donations/List"))" />
