
@inherits MenueTranslationCreateBase
@page "/MenueTranslation/Create"
@attribute [Authorize(Policy = "menues-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Menue Translation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <MenueTranslationForm MenueTranslation="EntityItem" MenueItems="MenueItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/MenueTranslations/List"))" />
