@using OA.Domin.DSA.Indexes


<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="DonationType.Name" For="@(() => DonationType.Name)" Id="Name" EntityType="typeof(DonationType)" PropName="Name" Active="@Active" />
    </div>
</div>
