@inherits MenueEditBase
@page "/Menue/Edit/{id}"
@attribute [Authorize(Policy = "menues-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["Menue"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <MenueForm Menue="EntityItem" MenueCategoryItems="MenueCategoryItems" MenueItems="MenueItems" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Menues/List"))" />