

<div class="form-group row mt-5">
    <div class="col-sm-5">
        <button type="submit" class="btn btn-block btn-sm btn-comp"> @Localizer[Text] </button>
    </div>
    <div class="col-sm-1 pt-1 text-center">
        @if (Busy)
        {<MiniLoading size="25px" />}
    </div>
</div>
