@inherits ArticleTranslationCreateBase
@page "/ArticleTranslation/Create"
@attribute [Authorize(Policy = "articles-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Article Translation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <ArticleTranslationForm ArticleTranslation="EntityItem" ArticleItems="ArticleItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/ArticleTranslations/List"))" />
