
@inherits EventCategoryCreateBase
@page "/EventCategory/Create"
@attribute [Authorize(Policy = "events-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Event Category"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <EventCategoryForm EventCategory="EntityItem" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/EventCategories/List"))" />