
@inherits EventTranslationCreateBase
@page "/EventTranslation/Create"
@attribute [Authorize(Policy = "events-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Create"] @Localizer["Event Translation"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <EventTranslationForm EventTranslation="EntityItem" EventItems="EventItems" />

    <SubmitBtn Text="Create" Busy="CreateBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/EventTranslations/List"))" />
