@using OA.Domin.DSA.Indexes


<div class="form-group row">
    <div class="col-sm-12">
        <MInputText @bind-Value="Governorate.Name" For="@(() => Governorate.Name)" Id="Name" EntityType="typeof(Governorate)" PropName="Name" Active="@Active" />
    </div>
</div>
