@inherits GovernorateEditBase
@page "/Governorate/Edit/{id}"
@attribute [Authorize(Policy = "indexes-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["Governorate"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <GovernorateForm Governorate="EntityItem" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Governorates/List"))" />
