
@inherits BlockEditBase
@page "/Block/Edit/{id}"
@attribute [Authorize(Policy = "blocks-control")]

<div class="page-title mt-3 mb-4"> @Localizer["Edit"] @Localizer["Block"] </div>

<EditForm Model="EntityItem" OnValidSubmit="HandelSubmit">

    <FluentValidationValidator />

    <BlockForm Block="EntityItem" BlockCatigoryItems="BlockCatigoryItems" IsEdit="true" />

    <SubmitBtn Text="Save" Busy="EditBusy" />

</EditForm>

<Btn ClassList="btn-sm btn-comp-s" Text="Back To List" ClickCallBack="@(() => NavigationManager.NavigateTo("/Blocks/List"))" />

<Btn ClassList="btn-sm btn-comp-s" Text="Details" ClickCallBack="@(() => NavigationManager.NavigateTo($"/Block/Details/{EntityItem.Id}"))" />